---

---

<div id="container">
  <main class="container">
    <section id="hero">
      <h1 class="center-content">Excel Data Reader</h1>
      <form id="form-excel-data-reader">
        <fieldset>
          <label for="file-data"
            >Choose a file<input
              type="file"
              id="file-data"
              accept=".xlsx,.xls,.odf"
              required
            />
            <small id="email-helper">
              Only can submit ',xlsx' or '.xls' files
            </small>
          </label>
          <input type="submit" value="Load data" />
        </fieldset>
      </form>
    </section>
    <section>
      <article>
        <span aria-busy="true">Loading data...</span>
      </article>
    </section>
  </main>
</div>

<style>
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>

<script>
  import readXlsxFile, { readSheetNames } from "read-excel-file";

  const $buttonSubmit = document.getElementById("form-excel-data-reader");
  const $fileInput = document.getElementById(
    "file-data"
  ) as HTMLInputElement | null;

  $buttonSubmit?.addEventListener("submit", async (e) => {
    e.preventDefault();
    if ($fileInput && $fileInput.files && $fileInput.files.length > 0) {
      const file = $fileInput.files[0];
      // Aquí puedes trabajar con el archivo seleccionado

      const allSheets: any[][] = [];
      const sheetsName = await readSheetNames(file);
      for (const sheetName of sheetsName) {
        const rows = await readXlsxFile(file, { sheet: sheetName });
        allSheets.push({ sheetName, rows });
      }
      console.log(allSheets);
      console.log(file);
      console.log(sheetsName);
    } else {
      console.error(
        "No se ha seleccionado ningún archivo o el elemento no existe."
      );
    }
  });
</script>
